Flask==2.2.5
Flask-Compress==1.15
flask-ngrok==0.0.25
Flask-SocketIO==5.5.1
flatbuffers==23.5.26
fonttools==4.40.0
future==1.0.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-widgets==3.0.8
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.26.1
python-dateutil==2.8.2
python-engineio==4.11.2
python-socketio==5.12.1
python-utils==3.8.1
scikit-image==0.21.0
scikit-learn==1.4.2
scipy==1.11.0